body {
    font-family: Arial, sans-serif;
    color: #c8c3bc;
    line-height: 1.6;

    background-color: #1e2021;

    justify-content: center;
    align-items: flex-start;

    min-height: 100vh;
    padding: 2em;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;

    gap: 20px;
}

li p {
    margin: 0;
}
